/* BuildingGrid.css */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 20px;
}

.grid-item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.building-image {
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
}

.rooms-available {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 10px;
}

.green-dot {
  width: 7px;
  height: 7px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.room-count {
  margin-right: 2px;
}

.building-name {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: #EF7021;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-align: left;
  border-radius: 8px;
  font-size: 12px;
}

/* Media query for tablets 426px to 768px */
@media (min-width: 426px) and (max-width: 768px) {
  .grid-item {
    height: auto;
    /* Allow height to adjust based on content */
    flex-direction: column;
    /* Change to horizontal layout */
  }
}

@media (max-width: 425px) {
  .header-text {
    display: none;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    position: relative;
    border-radius: 8px;
    height: 100px;
  }

  .building-image {
    transform: translate(0%, -50%);
  }

  .building-name {
    position: absolute;
    bottom: 40px;
    left: 10%;
    transform: translateX(-10%);
    width: 50%;
    color: white;
    background: none;
    padding: 0px;
  }

  .room-text {
    display: none;
  }
}